 .hero {
      background: linear-gradient(135deg, #0d6efd, #6610f2);
      color: white;
      padding: 100px 0;
    }
    .hero h1 {
      font-weight: 700;
    }
    .icon-box {
      width: 60px;
      height: 60px;
      background: #0d6efd;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 28px;
      margin-bottom: 20px;
    }

.vision-box{
  background-color: #c2c7ff; position: relative; left: 50px;
}

@media (max-width: 658px) {

    .mission{
      width: 100%;
    }
    .vision-box{
      position: relative; left: 0px;
    }
    .vision{
      width: 100%;
    }

  }