html {
  scroll-behavior: smooth;
}




.ls-1 {
  letter-spacing: 0.05em;
}

.ls-2 {
  letter-spacing: 0.1em;
}

.ls-tight {
  letter-spacing: -0.02em;
}
.hero{
    /* background-image:url("https://geeksui.codescandy.com/geeks/assets/images/background/gradient-bg.png"); */
    background-image:url("ASSETS/red-bg-overlay.svg");

    background-size: cover;
}

*{
  /* font-family: "Josefin Sans", sans-serif;
   */
   /* font-family: "Inter", sans-serif; */
   font-family: "Montserrat", sans-serif;
}


.left {
  width: 50%;
}

.service {
  min-height: 100vh;
  padding: 40px;
  padding-left: 0px;
  padding-top: 100px;
}

.right {
  /* background-image: url("https://img.freepik.com/free-vector/vector-backgrond-lines_2065-248.jpg?t=st=1768047462~exp=1768051062~hmac=e37f5dc5debf588e1705957c87b18903e3858c3856c823163e80378221a76bdf"); */

  width: 50%;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {

  

  position: absolute;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;

}

.content.active {
  opacity: 1;
  transform: translateY(0);
}



.why-chooseus-card {
    display: flex;
    width: 30rem;
    height: 7rem;
    border-radius: 10px;
    margin: 30px 0px;
}

.whychoose-video{
  background-image: url("https://geeksui.codescandy.com/geeks/assets/images/education/edu-video-img.jpg"); 
  height: 350px;
  background-size: cover;
}


.text-primary{
  /* color: #754ffe !important; */
  color: #eb1d25 !important;
}
.text-primary-light{
  color: #ffe1e3 !important;
}
.bg-primary-light{
  background-color: #ffe1e3 !important;
}
.text-secondary-red{
  color: #FF6B6B;
}

.btn-primary{
  /* background-color: #754ffe;
  border-color: #754ffe; */

  background-color: #eb1d25;
  border-color: #eb1d25 !important;
  transition: 0.3s ease-in-out;
}

.btn-primary:hover{
  /* background-color: #593cc1; */

  border-color: #eb1d25 !important;
  color: #eb1d25 !important;
  background-color: #00000000;

  
}

.bg-dark-blue{
  background-color: #16005c;
}

.bg-primary{
  /* background-color: #754ffe !important; */
  background-color: #eb1d25 !important;

}

a{
  color: #eb1d25;
}
a:hover{
  color: #FF6B6B;
}

.text-success{
  color: #19cb98 !important;
}


.video-thumbnil{
  width: 50%;
}

.glow {
    position: absolute;
    top: 0;
    right: -20%;
    top: -20%;
    width: 1800px;
    height: 800px;
    aspect-ratio: 1.5;
    pointer-events: none;
    z-index: -10;
    border-radius: 100%;
    background: linear-gradient(180deg, #64ff61, #0000);
    filter: blur(15vw);
    transform: none;
    opacity: .2;
}
body {
  overflow-x: hidden;
}

.text-justify {
  text-align: justify;
}

.hero-img{
  width: 940px !important;
}

.whychoose-container{
  width: 50%;
}

@media (max-width: 658px) {

  /* Your mobile styles here */

  body {
    font-size: 14px;
  }

  .display-5{
    font-size: 24px !important;
  }

  .lead{
    font-size: 18px !important;
  }

  .list-unstyled{
    font-size: 18px !important;
  }

  .video-thumbnil{
    width: 100%;
  }
  #services .display-5{
    font-size: 16px;
  }
  #services p{
    font-size: 12px;
  }
  #services ul li{
    font-size: 12px;
  }
  .why-chooseus-card {
      /* width: 25rem; */
      align-items: center;
      /* justify-content: center; */
      width: 24rem;
      height: 5rem;
    
  }
  .whychoose-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .glow {
   
    right: -50%;
    width: 450px;
    height: 300px;
    aspect-ratio: 1.5;

}
.left {
  width: 100%;
}

.card-body h5{
  font-size: 13px;
}

.service {
  padding: 10px;
  
}

}
